<div id="static-index-container">
  <div id="index-top-div">

    <div class="static-vid-div video-container">
      <video src="/assets/vid1.mp4" class="static-index-video" onloadedmetadata="this.muted = true" playsinline autoplay muted loop></video>

      <div>
        <div class="text">
          <p> Hello I am</p>
          <p>
            <span class="word">well_rounded</span>
            <span class="word">a_full_stack_developer</span>
            <span class="word">a_active_learner</span>
            <span class="word">a_problem_solver</span>
            <span class="word">passionate</span>
            <span class="word">open_minded</span>
          </p>
        </div>
      </div>
      
    </div>

  </div>

  <h1 id="test">Static PAGE</h1>
</div>