<div id="static-vid-div" class="video-container">
  <video src="/assets/vid1.mp4" class="static-index-video" onloadedmetadata="this.muted = true" playsinline autoplay muted loop></video>

  <div id="flip-parent-div">
    <div class="text">
      <p class="flip-p">Hello I am</p>
      <p class="flip-p">
        <span class="word">well_rounded</span>
        <span class="word">a_full_stack_developer</span>
        <span class="word">an_active_learner</span>
        <span class="word">a_problem_solver</span>
        <span class="word">passionate</span>
        <span class="word">open_minded</span>
      </p>
    </div>
  </div>
</div>

<div id="static-index-container">

  <div id="about-me-div" class="content">
    <div>
      <h1 class="about-me-title line-through">About me</h1>

      <p class="about-me-txt">
        My name is Juan Martinez and I am full stack developer. I started my web developement journey at <a href="https://www.theodinproject.com/" target="blank">The Odin Project</a>. There I learned the basics of HTML and CSS. As a result I found that I really enjoyed what I was doing and so I continued through the curriculum where I learned many new and exciting concepts. Some quick hightlights I would like to mention are Javascript, Git, Ruby, and Ruby on Rails. With these skills I built projects small, medium, and large. I'm not stopping here either I am looking to expand my skill set further. One technology i'm currently working on is react.js.
      </p>
    </div>

    <div id="am-code-div">
      <h1 id="am-code" class="am-text"></h1><h1 id="text-blinker" class="am-text">|</h1>
    </div>

  </div>

</div>