#nav-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#nav-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

#inner-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

#inner-div a {
  padding: 18px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  display: block;
  width: 100%;
}

#inner-div a:after {
  display:block;
  content: '';
  border-bottom: solid 3px white;
  transform: scaleX(0);  
  transition: transform 300ms ease-in-out;
}

#inner-div a:hover:after { 
  transform: scaleX(1); 
}

#inner-div a:hover {
  color: rgba(255, 255, 255, 1.0);
}