#nav-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#nav-container {
  width: 50%;
  margin: auto;
  padding: 20px 0 20px 0;
}

#nav-dark-blur {
  background: rgba(0, 0, 0, 0.7);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
}

#inner-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#inner-div a {
  padding: 18px;
  color: white;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  display: block;
  width: 100%;
  z-index: 99;
}

#inner-div a:after {
  display:block;
  content: '';
  border-bottom: solid 3px white;
  transform: scaleX(0);  
  transition: transform 300ms ease-in-out;
}

#inner-div a:hover:after { 
  transform: scaleX(1); 
}

@media only screen and (max-width: 768px) {
  #nav-container {
    width: 100%;
    padding: 15px 0 15px 0;
  }
}

@media only screen and (max-width: 540px) {
  #inner-div a {
    font-size: 15px;
    padding: 10px;
  }
}

@media only screen and (max-width: 400px) {
  #inner-div a {
    font-size: 14px;
    padding: 7px;
  }
}