// Video and video container styling
#static-vid-div {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.static-index-video {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

// Flip text styling
.text {
  position: absolute;
  width: 700px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  font-size: 40px;
}

.flip-p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: fit-content;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// About me styling
#static-index-container {
  margin-top: 100vh;
  padding: 50px 50px 2500px 50px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

#about-me-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 300px;
}

.content {
  opacity: 0;
}

.sec-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.about-me-txt {
  line-height: 35px;
  font-size: 20px;
}

#am-code-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#am-code {
  justify-self: center;
  align-self: center;
}

.am-text {
  display: inline;
  font-size: 50px;
  font-weight: 100;
}

// Skills section
#skills-title {
  width: 50%;
  max-width: 870px;
  margin: auto;
  margin-bottom: 30px;
}

.skills-tile-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
  margin-bottom: 50px;
}

.card-flip {
  position: relative;
  height: 120px;
  width: 120px;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: .5s;
  &:hover .card-front {
    transform: rotateX(-180deg);
  }
  &:hover .card-back {
    transform: rotateX(0deg);
  }
  &:hover .bottom-label {
    opacity: 0;
    transition: 0.5s;
  }
}

.card-front {
  height: 120px;
  width: 120px;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 1s;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: .5s;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  border: 1px solid white;
}

.bottom-label {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-size: 17px;
}

#html-tile {
  background-image: url("/assets/html.png");
}

#css-tile {
  background-image: url("/assets/css.png");
}

#scss-tile {
  background-image: url("/assets/scss.png");
}

#bootstrap-tile {
  background-image: url("/assets/bootstrap.png");
}

#js-tile {
  background-image: url("/assets/js.png");
}

#ruby-tile {
  background-image: url("/assets/ruby.png");
}

#rails-tile {
  background-image: url("/assets/rails.png");
}

#react-tile {
  background-image: url("/assets/react.png");
}

#jest-tile {
  background-image: url("/assets/jest.png");
}

#git-tile {
  background-image: url("/assets/git.png");
}

#github-tile {
  background-image: url("/assets/github.png");
}

#heroku-tile {
  background-image: url("/assets/heroku.png");
}

#webpack-tile {
  background-image: url("/assets/webpack.png");
}

#npm-tile {
  background-image: url("/assets/npm.png");
}

#yarn-tile {
  background-image: url("/assets/yarn.png");
}