/*
 *= require_tree .
 *= require_self
*/

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(32, 32, 32);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
th,
tr,
label,
li,
i,
em,
span,
div {
  color: white;
}

.background-image {
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center center;
}

.video-container {
  overflow: hidden;
  position: relative;
}

body {
  scrollbar-width: thin;
  scrollbar-color: rgba(90, 90, 90, 0.7) rgba(0, 0, 0, 0.0);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, 0.7);
  border-radius: 20px;
}

.dark-blur {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.line-through {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

.line-through:before, .line-through:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: white;
}

.line-through:before {
  margin-left: -50%;
  text-align: right;
}