<div id="nav-parent">

  <div id="nav-dark-blur"></div>

  <div id="nav-container">
    <div id="inner-div">
      <button id="home-link" class="nav-link">Home</button>
      <button id="about-link" class="nav-link">About</button>
      <button id="skills-link" class="nav-link">Skills</button>
      <button id="projects-link" class="nav-link">Projects</button>
      <button id="contact-link" class="nav-link">Contact</button>
    </div>
  </div>
</div>
