<div id="static-vid-div" class="video-container">
  <% if current_page?(root_path) %>
    <video src="/assets/vid1.mp4" class="static-index-video" onloadedmetadata="this.muted = true" playsinline autoplay muted loop></video>

    <div id="flip-parent-div">
      <div class="text">
        <p class="flip-p">Hello I am</p>
        <p class="flip-p">
          <span class="word">well_rounded</span>
          <span class="word">a_full_stack_developer</span>
          <span class="word">an_active_learner</span>
          <span class="word">a_problem_solver</span>
          <span class="word">passionate</span>
          <span class="word">open_minded</span>
        </p>
      </div>
    </div>
  <% elsif current_page?(projects_path) %>
    <video src="/assets/vid2.vid" class="static-index-video" onloadedmetadata="this.muted = true" playsinline autoplay muted loop></video>
  <% end %>
</div>